{{ define "main" }}
<section class="container">
  <header>
    <h1>{{ .Title }}</h1>
  </header>

  {{ $pages := where .RegularPages "Draft" "ne" true }}

  {{ if gt (len $pages) 0 }}
    {{ $p := .Paginate $pages }}
    <div class="cards">
      {{ range $p.Pages }}
        <article class="card">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ with .Params.summary }}<p>{{ . }}</p>{{ end }}
          <p class="meta">{{ .Date.Format "02 Jan 2006" }}</p>
        </article>
      {{ end }}
    </div>
{{ partial "pagination.html" . }}

  {{ else }}
    <p>No articles yet.</p>
  {{ end }}
</section>
{{ end }}
